GLOBAL_LLM_SERVICE="AzureOpenAI"

# Only Used For Running Samples Using GitHub Models 
# GITHUB_TOKEN="your_github_token_here"
GITHUB_MODEL_ID="gpt-4o-mini"
GITHUB_ENDPOINT="https://models.github.ai/inference"

# For Running Samples Using Azure AI Agent Service 
PROJECT_ENDPOINT="..."

# Only Used For Running Samples Using Azure OpenAI Service + Azure Search 
AZURE_OPENAI_API_KEY="..."
AZURE_OPENAI_ENDPOINT="https://..."
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="..."
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="..."
AZURE_OPENAI_API_VERSION="..."
AZURE_SEARCH_SERVICE_ENDPOINT = "https://..."
AZURE_SEARCH_API_KEY = "..."
AZURE_SUBSCRIPTION_ID="..."
AZURE_AI_PROJECT_NAME="..."
AZURE_OPENAI_RESOURCE_GROUP="..."
AZURE_OPENAI_SERVICE="..."
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME="..."
AZURE_AI_AGENT_PROJECT_CONNECTION_STRING="EQUALS PROJECT_CONNECTION_STRING"
AZURE_OPENAI_DEPLOYMENT_NAME="EQUALS AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"


AZURE_AI_PROJECT_ENDPOINT="https://open.bigmodel.cn/api/paas/v4"
AZURE_AI_MODEL_DEPLOYMENT_NAME="glm-4.6"



ZHIPU_ENDPOINT="https://open.bigmodel.cn/api/paas/v4"
ZHIPU_API_KEY=""
ZHIPU_MODEL_ID="glm-4.6"



QWEN_ENDPOINT=""
QWEN_API_KEY=""
QWEN_MODEL_ID="qwen-max"   


GPT5_ENDPOINT=""
GPT5_API_KEY=""
GPT5_MODEL_ID="gpt-5"